ul{
    display: flex;
    list-style: none;
    border: 2px solid blue;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 80px;
}
li{
    height: 30px;
    width: 30px;
}
.blue li{
    background-color: blue;
}
.purple li{
    background-color: purple;
}
.purple{
    background-color: orange;
}
div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    flex-wrap: wrap;
}